Adafruit-GPIO==1.0.3
Adafruit-PCA9685==1.0.1
Adafruit-PureIO==0.2.3
board==0.0.0.post0
certifi==2019.3.9
future==0.17.1
iso8601==0.1.12
numpy==1.16.4
opencv-python==4.2.0.32
PyYAML==5.1
serial==0.0.97
wincertstore==0.2
