{% extends "app/layout.html" %}

{% block content %}

<h2>About</h2>

<div class="container">
    <div class="row">
        <h3>Joshua Riley</h3>
        <p style="padding-left:10px">Web Master</p>
    </div>
    <div class="row">
        <h3>Jonathan Woolf</h3>
        <p style="padding-left:10px">Teammate</p>
    </div>
    <div class="row">
        <h3>Adriel Bustamente</h3>
        <p style="padding-left:10px">Teammate</p>
    </div>
    <div class="row">
        <h3>Colton Vosburg</h3>
        <p style="padding-left:10px">Teammate</p>
    </div>
</div>

{% endblock %}
