{% extends "app/layout.html" %}

{% block content %}

<div class="container">
    <h3 style="text-align:center"> Verify </h3>
    <p> Is the following information correct: </p>
    <p style="color:darksalmon"> Package ID: {{ packageID }} </p>
    <p style="color:darksalmon"> Destination: {{ destination }} </p>

    <form method="POST">
        {% csrf_token %}
        <button type="button" name="yes" class="btn btn-success">Yes</button>
        <button type="button" name="no" class="btn btn-danger">No</button>
    </form>
</div>


{% endblock %}