{% extends "app/layout.html" %}
{% load leaflet_tags %}
{% block extrahead %}

{% leaflet_js %}
{% leaflet_css %}
<style>
.leaflet-container {
    height:250px;
}
</style>
{% endblock %}



{% block content %}
<style>
    .column {
        float: left;
        width: 50%;
        padding: 50px;
    }
</style>
<div class="row" style="border-style:groove; border-color:#52007d; padding: 2%; padding-bottom: 200px">
    <div class="container" style="padding-bottom: 20px">
        <h3 style="text-align:center"> Package Router </h3>
    </div>
    <div class="column" style="margin-top:-5%">
        <p> Please enter the following information: </p>
        <form action="{% url 'confirm' %}" id="packageInputForm" method="POST" >
            {% csrf_token %}
            <div class="input-group mb-3" style="padding-bottom: 20px">
                <input type="text" class="form-control" name="packageID" placeholder="Package ID" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3" style="padding-bottom: 20px">
                <input type="text" class="form-control" name="destination" placeholder="Destination" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <button type="submit" class="btn btn-primary" style="padding-left: 20px; padding-right: 20px">Submit</button>
        </form>
    </div>
    <div class="column" style="background-color:black">
        <script type="text/javascript">
            function main_map_init (map, options) {
                L.marker([50.5, 30.5]).addTo(map);
            }
        </script>
        {% leaflet_map "main" callback="main_map_init"%}
    </div>
</div>
    


{% endblock %}